%%% -*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [debug_info, fail_on_warning
            , {i, "./priv/"}
            , {i, "../ubf/include/"}
            , {i, "../gdss-ubf-proto/ebin/"}
            , {i, "../gdss-ubf-proto/include/"}
            , {i, "../gmt-util/include/"}
            , {d, new_inets}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
